{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Rotas{% endblock %}

{% block content %}
<div>
    <a class="btn" style="background: #3498db;color: #ffffff;" href="{{ base_url() }}{{ path_for('users') }}">Manage Users</a>
</div>
<div>
    <a class="btn" style="background: #9834db;color: #ffffff;" href="{{ base_url() }}{{ path_for('rotas') }}">Manage Rotas</a>
</div>
<br/><br/>

{% endblock %}