{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Home{% endblock %}

{% block content %}

<div style="border:0 border-collapse: collapse; width: 700px;">
    <img style="padding-left: 100px" border="0" src="\logo.png">
    <br/>
    <h2>Application Services UK Oncall Rotas</h2>
</div>
<table>
    <tr>
        <td>
            {{ title }}
            <br/>

            Rota: {{ rota }}
            <br/>
        </td>
        <td>
            <table>
                {% for user in users %}
                    <tr>
                        <td bgcolor="{{ user.colour }}">{{ user.fullname }}
                            {% if user.shortdial is not empty %}
                                <br/>{{ user.shortdial }}
                            {% endif %}
                            {% if user.longdial is not empty %}
                                <br/>{{ user.longdial }}
                            {% endif %}
                            {% if user.mobile is not empty %}
                                <br/>{{ user.mobile }}
                            {% endif %}
                            {% if user.home is not empty %}
                                <br/>{{ user.home }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
<br/>
    <table>
    <tr>
        <td width="360px">&nbsp;</td>
        <td width="100px" align='center'><b>1 day only</b></td>
        <td width="60px">&nbsp;</td>
        <td width="100px" align='center'><b>up to Sunday</b></td>
    </tr>
    {% for user in userlist %}
    <tr>
        <td>&nbsp;</td>
        <td bgcolor="{{ user.colour }}">{{ user.linkday|raw }}</td>
        <td>&nbsp;</td>
        <td bgcolor="{{ user.colour }}">{{ user.linkweek|raw }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}